.editorWr {position:relative; width:780px; margin:0 auto; padding:100px 90px; border:1px solid #dce2e6; border-radius:8px; background:#fff}

/* EditorUser */
.editorUserInfo .editorUserIcon {width:62px; height:62px; border:1px solid #eee; border-radius:31px; background:url("https://media.vingle.net/images/us_l/lws0wuwvbm.jpg"); background-size:100%}